/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  background-image: url(pattern1.png);
  position: absolute;
  margin: 0px;
  padding: 0px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper .navbar-header .title-first {
    color : #ffc47b;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color : #ffc47b;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 40px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
  background-repeat : no-repeat;
  background-position-x : center;
  background-size: cover;
}

.carousel-inner > .item.first-slide {
    background-image : url(1.jpg);
}

.carousel-inner > .item.second-slide {
    background-image : url(2.jpg);
}

.carousel-inner > .item.third-slide {
    background-image : url(3.jpg);
}


/* index-content CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.index-content {
	border-top: 8px solid #ffc47b;
	background-color: #fcfcfc;
	padding-top : 40px;
	margin-bottom : 10px;
}

.index-content .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.index-content h2 {
  font-weight: normal;
}
.index-content .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.headings .img-circle {
  width : 190px;
  height : 190px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


.animation-show {
	opacity: 0;
}

footer {
	padding: 63px 15px 47px 15px;
    border-top: 8px solid #fafafa;
    background: #ffffff;
	color: #b3b3b3;
	border-bottom: 8px solid #ffc47b;
}

footer .footer-title  {
	font-size: 38px;
	margin-right: 5px;
}

footer .first-title {
	color : #ffc47b;
}

footer .second-title {
	color : #cdcdcd;
}

footer .footer-copyright {
	line-height: 54px;
}


/*Set colors*/
.carousel-control, .carousel-control:focus, .carousel-control:hover {color : #ffc47b;}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary.active, .btn-primary:hover:active {background-color : #ffc47b; border-color : #ffc47b;}
.btn-primary:hover {background: #3f3f3f; border-color: #1c1c1c; -webkit-transition: all 0.25s;transition: all 0.25s;}
.carousel-indicators li {width : 15px; height:15px; border-width:3px;}
.carousel-indicators .active {width : 15px; height:15px; border-width:3px; background-color : inherit; border-color : #ffc47b; margin: 1px;}
